* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
}

main nav {
  width: 20vw;
  height: 100vh;
  background-color: rgb(112, 129, 113);
}

main div {
  display: flex;
  flex-direction: column;
}

header {
  width: 80vw;
  height: 20vh;
  background-color: #c7f6c8;
}

main div div {
  display: flex;
  flex-direction: row;
}

main div div div {
  display: flex;
  flex-direction: column;
}

article {
  width: 60vw;
  height: 65vh;
  background-color: #dbfaf4;
}

footer {
  width: 60vw;
  height: 15vh;
  background-color: #238915;
}

aside {
  width: 20vw;
  height: 80vh;
  background-color: #5fc463;
}
