* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  width: 100vw;
  height: 20vh;
  background-color: antiquewhite;
  text-align: center;
}

main {
  width: 100vw;
  height: 60vh;
  display: flex;
}
main article {
  width: 60vw;
  height: 60vh;
  text-align: center;
  background-color: rgb(240, 144, 1);
  display: flex;
  flex-flow: column wrap;
  /* justify-content: center;
  align-items: center; */
  gap: 10px;
}

main article div {
  width: 100px;
  height: 100px;
  background-color: rgb(133, 121, 106);
}

main aside {
  width: 20vw;
  height: 80vh;
  text-align: center;
  background-color: brown;
}

main nav {
  width: 20vw;
  height: 80vh;
  text-align: center;
  background-color: #808080;
}

footer {
  width: 60vw;
  height: 20vh;
  text-align: center;
  background-color: rgb(134, 82, 184);
}
