*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

body header{
    display: flex;
    justify-content: center;
    height: 20vh;
    background-color: aquamarine;
}

body main{
    display: flex;
    height: 60vh;
}

main article{
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 60vh;
    background-color: bisque;
}



main nav{
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 80vh;
    background-color: brown;
}

main aside{
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 80vh;
    background-color:blue;
}

body footer{
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 60vw;
    background-color: blueviolet;
}
