* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

body header {
  background-color: #c7f6c8;
  width: 100vw;
  height: 20vh;
  text-align: center;
}

body div {
  display: flex;
}

body div article {
  background-color: #dbfaf4;
  width: 60vw;
  height: 60vh;
  text-align: center;
}

div aside {
  background-color: #28eb0e;
  width: 40vw;
  height: 60vh;
  text-align: center;
}

body div aside div {
  height: 90%;
  display: flex;
  flex-flow: column wrap;
  gap: 25px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

body div aside div div {
  width: 130px;
  height: 130px;
  background-color: aliceblue;
  display: block;
}

body footer {
  background-color: #238916;
  height: 20vh;
  text-align: center;
}
